<app-header titulo="Alert"></app-header>





<ion-content class="ion-padding ion-margin">

  <ion-button (click)="presentAlert()" expand="block" color="danger">
    Ver Alert Simple
  </ion-button>

  <ion-button (click)="presentAlertMultipleButtons()" expand="block" color="secondary">
    Ver Alert Multiples Botones
  </ion-button>
  <ion-button (click)="presentAlertPrompt()" expand="block" color="tertiary">
    Ver Alert Prompt
  </ion-button>
  <ion-button (click)="presentAlertRadio()" expand="block" color="light">
    Ver Alert Radio
  </ion-button>
  <ion-button (click)="presentAlertCheckbox()" expand="block" color="dark">
    Ver Alert CheckBox
  </ion-button>


</ion-content>
